<div class="nc-field mui-checkbox <%= props.className %>" data-cmp="checkbox">
    <label>
      <input type="checkbox"
             name="<%= props.name %>"
             aria-label="<%= props.label %>"
             id="id-<%= props.name %>"
             class="form-control"
             value="<%= props.value %>">
             <%= props.label %>
    </label>
    <span class="nc-field__error-message"></span>
</div>
